@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto/roboto.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: 'opensans';
    src: url("../fonts/opensans/opensans_bold_macroman/OpenSans-Bold-webfont.woff") format("woff");
    font-display: swap;
}
@font-face {
    font-family: 'Playfair regular';
    src: url("../fonts/playfaire/PlayfairDisplay-Regular.ttf") format("ttf");
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url("../fonts/playfaire/PlayfairDisplay-BoldItalic.ttf") format("ttf");
    font-display: swap;
}