*{box-sizing: border-box;}
a{
    color:$primary_color;
    &:hover {color: $secondary_color;}
    &:active {color: $secondary_color;}
}
ul{
    list-style: none;
}

figure {
    margin: 0;
}

header{
    text-align: center;
    img{
        filter: grayscale(100);
    }
}

.desktop{
    display: none;
}
.mobile-menu {
    display: none;
    &:hover{
        display: block;
    }
}

nav {
    display: flex;
    justify-content: center;
    background-color: white;
    margin: 0;
    
    ul {
        display: flex;
        justify-content: space-around;
        gap: .1em;
        li{
           flex: 1 0 auto;
           background-color: $primary_color;
           padding: 15px 10px;
           font-family: 'Roboto';
            

           &:hover{
            background-color: $white;
            color: $primary_color;
        }
           a{
               color: $white;
               text-decoration: none; 
           }
        } 
    }
}

h1{
    font-size: 5vh;
    font-family: 'Playfair regular';
    color: $primary_color;
}
h2{
    font-family:'Roboto';
    color: $secondary_color;
}
/** section a propos **/
main section:first-child{
    display: flex;
}
.container{
    display: flex;
    justify-content: space-around;
}

.description {
    line-height: 2em;
    li{
        &:nth-child(1){
            font-size: 1.5em;
        }
        &:nth-child(2){
            position: relative;
            &::before{
                font-size: 1.2em;
                position: absolute;
                top: 0px;
                left: -20px;
                font-family: 'Material Icons'; /** uzywamy zawsze do ikon   **/
                content: "\f187";    /**szukamy w google fonts- Code point + \**/
            }
        }
        &:nth-child(3){
            position: relative;
            &::before{
                font-size: 1.2em;
                position: absolute;
                top: 0px;
                left: -20px;
                font-family: 'Material Icons';
                content: "\e62b";
            }
        }
    }
}

section:nth-of-type(even){
    background-color: rgba($color: #373737, $alpha: 1.0);
    color: $white;
    padding: 1em;
    h2 {
        color: $primary_color;
    } 
}
section:nth-of-type(odd){
    h2{
        padding-left: 0.5em;
    }
}
article{
    padding: 0 1em;
}


   /*footer  */
footer{
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    .footer__social{
        display: flex;
        gap: 3em;
        .footer__social-item{
            font-size: 48px;
            color: rgba($color: #3B5998, $alpha: .5);
            cursor: pointer;
            transition-duration: 2s;
            &:hover{
                color: #3B5998;
            }
        }

    }

}


