@media screen and (min-width:480px) and(max-width:779px){
    h1{
        font-size: 3vh;
    }
    .desktop{
        display: block;
    }
    .mobile{
        display: none;
    }
    
    .formation__container{
        display: flex;
        flex-wrap: wrap;
        article{
            flex-basis: 45%;
        }
    }

}